{% load static %}

{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
        {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}{{ query_string }}" class="page-arrow">
                <img src="{% static 'arrow-left.svg' %}" alt="Предыдущая страница" />
            </a>
        </li>
        {% endif %}
        
        {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-num page-num-selected">{{ p }}</li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <li class="page-num">
                <a href="?page={{ p }}{{ query_string }}">{{ p }}</a>
            </li>
            {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}{{ query_string }}" class="page-arrow">
                <img src="{% static 'arrow-right.svg' %}" alt="Следующая страница" />
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

<link rel="stylesheet" href="{% static 'css/pagination.css' %}" />
{% endif %}
