{% extends "base.html" %}
{% load static %}

{% block seo %}
<title>Пароль изменён - Healthcare</title>
{% endblock seo %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock styles %}

{% block content %}
<div class="form-container">
    <h1>Пароль успешно изменён</h1>
    
    <div class="info-box">
        <p>Ваш пароль был успешно изменён. Теперь вы можете войти в систему, используя новый пароль.</p>
    </div>
    
    <div class="form-actions">
        <a href="{% url 'personal:login' %}" class="btn btn-primary">Войти в систему</a>
    </div>
</div>
{% endblock content %}



