{% extends "base.html" %}
{% load static %}

{% block seo %}
<title>Новый пароль - Healthcare</title>
{% endblock seo %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock styles %}

{% block content %}
<div class="form-container">
    <h1>Введите новый пароль</h1>
    
    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul class="error-list">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if field.help_text %}
                    <small class="helptext">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Изменить пароль</button>
        </div>
    </form>
</div>
{% endblock content %}



